<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" type="text/css" href="/../public/styles/gulp_css/user_card.css"/>
    <script type="module" src="/../public/scripts/user_card.js"></script>
</head>

<body>
    <div class="scrollable">
        <div class="user_info_container">
           <img scr="" alt="avatar"/>
           <div class="user_data">Username: <%= user.name %></div>
           <div class="user_data">Birthday: <%= user.birth_date %></div>
           <div class="user_data">Email: <%= user.email %></div>
           <div class="user_data">
                Role: <%= user.role %>
                <button class="change_data_button" id="role"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </div>
           <div class="user_data">
                Status: <%= user.status %>
                <button class="change_data_button" id="status"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="user_news">
            <% news.forEach( (current_news) => { %>
                <div class="news_card">
                    <div class="news_header">
                        <img src="" alt="avatar"/>
                        <div class="news_username"><%= user.name %></div>
                        <div class="news_time"><%= new Date(current_news.time_create).toUTCString() %></div>
                    </div>
                    <div class="news_data"><%= current_news.data %></div>
                </div>
            <% }) %>
        </div>
    </div>
    <div class="sidebar">
        <button class="new_page_button" id="friends" value="<%= user.id %>">
            <i class="fa fa-users" aria-hidden="true"></i>
            friends
        </button>
        <button class="new_page_button" id="news" value="<%= user.id %>">
           <i class="fa fa-hashtag" aria-hidden="true"></i>
            news
        </button>
        <button class="return_button">
            <i class="fa fa-reply" aria-hidden="true"></i>
            Return
        </button>
    </div>
</body>

</html>