<dialog id = "change_book_data_dialog" class = "book_dialog">
    <form class="book_dialog_form">
        <div class="dialog_row">
            <label for="change_name" class="lable_text">Название:</label>
            <input type="text" id="change_name" class = "input_text" value="<%=book.name%>">
        </div>
        <div class="dialog_row">
            <label for="change_author" class="lable_text">Автор:</label>
            <input type="text" id="change_author" class = "input_text" value="<%=book.author%>">
        </div>
        <div class="dialog_row">
            <label for="change_date" class="lable_text">Дата:</label>
            <input type="text" id="change_date" class = "input_text" value="<%=book.publication_date%>">
        </div>
        <div class="dialog_row">
            <label for="change_genre" class="lable_text">Жанр:</label>
            <input type="text" id="change_genre" class = "input_text" value="<%=book.genre%>">
        </div>
        <div class="dialog_row">
            <label for="change_description" class="lable_text">Описание:</label>
            <input type="text" id="change_description" class = "input_text" value="<%=book.description%>">
        </div>
    </form>
    <button id ="close_button" onclick="change_book_data(<%=book.id%>)">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Изменить
    </button>
</dialog>