<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" type="text/css" href="/../public/styles/gulp_css/friend_news.css"/>
    <script type="module" src="/../public/scripts/js/user_news.js"></script>
</head>


<body>
    <div class="friend_news">
        <% news.forEach( (current_news) => { %>
            <div class="news_card">
                <div class="news_header">
                    <img src="<%= friends.filter((friend) => {return friend.id == current_news.user_id})[0].avatar %>" alt="avatar"/>
                    <div class="news_username"><%= friends.filter((friend) => {return friend.id == current_news.user_id})[0].name %></div>
                    <div class="news_time"><%= new Date(current_news.time_create).toUTCString() %></div>
                </div>
                <div class="news_data"><%= current_news.data %></div>
            </div>
        <% }) %>
    </div>
    <div class="sidebar">
        <button class="return_button" id="<%= user.id %>">
            <i class="fa fa-reply" aria-hidden="true"></i>
            Return
        </button>
    </div>
</body>

</html>