<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Library</title>
    <link rel="stylesheet" href="../public/style.css" type="text/css"/>
    <link rel="stylesheet" href="">

</head>

<dialog id = "change_book_data_dialog" class = "book_dialog">
    <form class="book_dialog_form">
        <div class="dialog_row">
            <label for="change_name">Название:</label>
            <input type="text" id="change_name" class = "input_text" value="<%=book.name%>">
        </div>
        <div class="dialog_row">
            <label for="change_author">Автор:</label>
            <input type="text" id="change_author" class = "input_text" value="<%=book.author%>">
        </div>
        <div class="dialog_row">
            <label for="change_date">Дата:</label>
            <input type="text" id="change_date" class = "input_text" value="<%=book.publication_date%>">
        </div>
        <div class="dialog_row">
            <label for="change_genre">Жанр:</label>
            <input type="text" id="change_genre" class = "input_text" value="<%=book.genre%>">
        </div>
        <div class="dialog_row">
            <label for="change_description">Описание:</label>
            <input type="text" id="change_description" class = "input_text" value="<%=book.description%>">
        </div>
    </form>
    <button id ="close_button" onclick="change_book_data()">Изменить</button>
</dialog>

<body>
    <header>
        <div class="site_info_container">
            <img id="site_image" src="../public/site_image.png"/>
            <div id="site_name">Home Library</div>
        </div>
        <div class="user_info_container">
            <div id="user_image"></div>
            <div id="user_name">Username</div>
        </div>
    </header>
    
    <div class="book_card_info_container">
        <div class="book_card_data">
            <div class="data_text">Название:</div>
            <div class="card_data"><%=book.name%></div>
        </div>
        <div class="book_card_data">
            <div class="data_text">Автор:</div>
            <div class="card_data"><%=book.author%></div>
        </div>
        <div class="book_card_data">
            <div class="data_text">Жанр:</div>
            <div class="card_data"><%=book.genre%></div>
        </div>
        <div class="book_card_data">
            <div class="data_text">Дата выпуска:</div>
            <div class="card_data"><%=book.publication_date%></div>
        </div>
        <% if (book.state.is_in_library !== true) { %>
            <div class="book_card_data">
                <div class="data_text">Читатель:</div>
                <div class="card_data"><%=book.state.reader_username%></div>
            </div>
            <div class="book_card_data">
                <div class="data_text">Дата возврата:</div>
                <div class="card_data"><%=book.state.back_date%></div>
            </div>
        <% } %>
        <div class="book_card_data_description">
            <div class="data_text">Описание:</div>
            <div class="card_data"><%=book.description%></div>
        </div>
    </div>
    
    <div class="button_container">
        <button class="button" onclick="change_book_data_dialog()">Изменить данные</button>
        <% if (book.state.is_in_library) { %>
        <button class="button">Взять книгу</button>
        <% } else if (book.state.reader_username) {%>
        <button class="button">Вернуть книгу</button>
        <% } %>
    </div>
    <footer></footer>
    <script>
        function change_book_data_dialog() {
            const change_book_data_dialog = document.getElementById("change_book_data_dialog")
            change_book_data_dialog.show()
        }
        async function change_book_data() {
            const change_book_data_dialog = document.getElementById("change_book_data_dialog")
            change_book_data_dialog.close()
            let name = document.getElementById("change_name").value
            let author = document.getElementById("change_author").value
            let publication_date = document.getElementById("change_date").value
            let genre = document.getElementById("change_genre").value
            let description = document.getElementById("change_description").value
            if (name && author && publication_date.match(/^\d{2}.\d{2}.\d{4}$/) && description && genre) {
                const change_book = {
                    "what_change": "book",
                    "id":  <%=book.id%>,
                    "name": name,
                    "author": author,
                    "publication_date": publication_date,
                    "genre": genre,
                    "description": description
                }
                
                try {
                    let response = await fetch(`/${change_book.id}`, {method: "PUT", body: JSON.stringify(change_book), headers: {'Content-Type': 'application/json'}})
                    let text_response = await response.text()
                    console.log(text_response)
                    window.location = `/${change_book.id}`
                } catch (error) {
                    console.error("Ошибка:", error)
                }
            }
        }
    </script>
</body>

</html>